HELO:<localhost>
FROM:<no-reply@localhost>
TO:<pia@gmail.com>

Date: Wed, 05 Aug 2026 04:37:16 -0300
From: no-reply@localhost
To: pia@gmail.com
Message-ID: <6a72e82cb7f3d_45bc2d4f810064e@gabriel.mail>
Subject: Confirme seu e-mail
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="--==_mimepart_6a72e82cb69e5_45bc2d4f81005c6";
 charset=UTF-8
Content-Transfer-Encoding: 7bit


----==_mimepart_6a72e82cb69e5_45bc2d4f81005c6
Content-Type: text/plain;
 charset=UTF-8
Content-Transfer-Encoding: 7bit

Confirme seu e-mail

Ola, maria pia.

Para liberar seu acesso a area de membros de Regular User, confirme seu e-mail pelo link abaixo:

http://localhost:5173/778a3020-3142-49ea-a062-158838571206?confirm_email=1&email=pia%40gmail.com&token=4fU495La4srsczq6MBYLHE2iCpbXubq1wkO_2AdpFSY

Esse link expira em 48 horas.
Se voce nao criou essa conta, ignore este e-mail.


----==_mimepart_6a72e82cb69e5_45bc2d4f81005c6
Content-Type: text/html;
 charset=UTF-8
Content-Transfer-Encoding: 7bit

<!-- BEGIN app/views/layouts/mailer.html.erb
--><!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <!-- BEGIN app/views/member_confirmation_mailer/confirmation_link.html.erb
--><h1>Confirme seu e-mail</h1>

<p>Ola, maria pia.</p>

<p>Para liberar seu acesso a area de membros de Regular User, confirme seu e-mail pelo link abaixo:</p>

<p style="margin: 24px 0;">
  <a href="http://localhost:5173/778a3020-3142-49ea-a062-158838571206?confirm_email=1&amp;email=pia%40gmail.com&amp;token=4fU495La4srsczq6MBYLHE2iCpbXubq1wkO_2AdpFSY" style="display: inline-block; padding: 12px 18px; background: #1d4ed8; color: #ffffff; text-decoration: none; border-radius: 10px; font-weight: 700;">
    Confirmar e-mail
  </a>
</p>

<p>Esse link expira em 48 horas.</p>
<p>Se voce nao criou essa conta, ignore este e-mail.</p>
<!-- END app/views/member_confirmation_mailer/confirmation_link.html.erb -->
  </body>
</html>
<!-- END app/views/layouts/mailer.html.erb -->
----==_mimepart_6a72e82cb69e5_45bc2d4f81005c6--